* {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

canvas {
	background: url(./images/world-crop.png);
	background-size: 100% 100%;
}

.cat {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 5.5%;
	height: 6%;
	z-index: 2;
}

.cat:hover {
	width: 6%;
	height: 6.5%;
}

#luna {
	top: 240px;
	left: 75px;
}

.container {
	position: relative;
}
